<article class="comment">
  <header>
    <p>
      <% if comment.user.admin? %>
        <img src="<%= asset_path("admin.png") %>" class="admin-icon" title="This user is an administrator." />
      <% end %>
      <b><%= comment.user.username %></b>, <%= published_date_of comment %>:
    </p>
  </header>
  <p><%= comment.content.gsub("\n", "<br />").html_safe %></p>
</article>
