<article class="comment">
  <header>
    <p>
      <%= render comment.user %> (<%= published_date_of comment %>):
    </p>
  </header>
  <p><%= comment.content.gsub("\n", "<br />").html_safe %></p>
</article>
