<%= form_for (@comment.new_record? ? [@commentable, @comment] : @comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <p>Uh-oh, looks like you done goofed:</p>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <%= f.text_area :content %>
  </p>
  <p class="actions">
    <%= f.submit %>
  </p>
<% end %>
