<h1>Registration</h1>
<ol>
  <li>Connect to the server and type in the <b>/get-token</b> command.</li>
  <li>
    Type in your token and your username below, and pick a password.<br />
    <strong>Do not use your Minecraft password on this website.</strong>
  </li>
</ol>

<%= render "form" %>
