// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.news_posts {
  > .wrapper > section > article {
    border-bottom: solid 1px #DDD;

    &:last-child {
      border-bottom: none; }
  }

  time {
    color: #AAA;
    font-size: 80%; }
}
