body {
	font-family: "Lucida Grande", sans-serif;
	font-size: 10pt;
	color: white;
	background-color: #222; }

.wrapper {
	box-shadow: 0 0 10px #1C1C1C;
	border-top: none;
	overflow: auto;
	
  > header {
	  background-image: url('screenshots/1.png'); }

	> .authentication {
	  border-top: solid 1px #252525;

    background: #444444; /* Old browsers */
    background: -moz-linear-gradient(top, #444444 0%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #444444 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #444444 0%,#333333 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #444444 0%,#333333 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #444444 0%,#333333 100%); /* W3C */
	  
	  input[type='text'], input[type='password'] {
      	border-radius: 10px;
	    border: none;
	    box-shadow: inset 1px 1px 3px gray; }
	}
	  
  > nav {
	  ul {
	    background-color: #2A2A2A;
	    border-top: solid 1px #444;
	    border-bottom: solid 1px #444; }
	  li {
	    border-right: solid 1px #444;
      a {
        color: white;
        text-decoration: none;
        &:hover { background-color: #363; }
      }
    }
  }

  > section {
    background-color: white;
    color: black;

    > h1 {
      font-size: 300%;
      margin: 0.5em 0 0 0; }
  }

  > footer {
    font-size: 80%;
    text-align: center;
    background-color: #2A2A2A;
    overflow: auto; }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  a {
    color: black;
    text-decoration: none; }
}

textarea {
  font-family: 'Courier New', monospace;
  font-size: 1em; }

header h1, section h1, article h1 {
  font-size: 200%;
  margin-bottom: 0.5em; }

.flash {
  padding: 10px;
  margin: 0;
  border-bottom: solid 1px black;
  color: black;
  
  &.alert { background-color: #F88; border-color: red; }
  &.notice { background-color: #AFA; border-color: green; }
}
