<h1>Delete screenshot</h1>

<p>Are you sure you want to permanently delete this screenshot and all of its comments?</p>

<%= button_to 'Yes, delete this screenshot', @screenshot, method: :delete %>

<%= link_to 'No, cancel', @screenshot %>
